.header, .container, .footer{
    width: 1278px;
    margin: 0 auto;
    display: flex;
}

.header{
    padding: 15px 47px;
    background-color: #e7eeea;
    justify-content: space-between;
    align-items: center;
}

.header img{
    height: 56px;
}

.header ul{
    display: flex;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
}

.header ul li a{
    text-decoration: none;
    margin-right: 14px;
    color: #37523d;
    font-weight: 500;
}