.container {
    width: 905px;
    margin: 0 auto;
    background-color: #37523d;
    padding: 12px;
}

.header {
    background-color: #e7eeea;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

.header a{
    font-size: 12px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #37523d;
    font-weight: bold;
    text-decoration: none;
}

.content {
    background-color: white;
    padding: 30px 50px;
    display: flex;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

.content img{
    width: 175px;
    margin-right: 50px;
}

.content .text{
    width: 550px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.text h4{
    font-size: 24px;
    font-weight: bold;
    margin: 26px 0;
}

.text p{
    line-height: 22px;
}

.links a{
    font-size: 20px;
    color: #37523d;
    margin-right: 10px;
}
